---
layout: page
title: "Contents"
description: |
  Contents (archive) of all published blog posts, in chronological order.
---

All posts in chronological order:
<br><br>
{% for post in site.posts %}
<div>
    <a href="{{ post.url }}">
        {{ post.title }}
    </a>
    <ul class="subline">
        <li>
            <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date_to_long_string }}
            </time>
        </li>
        <li>
            {% include reading-time.html %}
        </li>
    </ul>
</div>

{% endfor %}
