@import 'font-awesome';
@import 'defs';
@import 'icons';
@import 'wrapper';
@import 'post';
@import 'disqus';

%unprintable {
    @media print {
        display: none;
        visibility: hidden;
    }
}

.unprintable {
    @extend %unprintable;
}

%desktop-only {
    @media all and (max-width: $width) {
        display: none;
    }
}

.desktop-only {
    @extend %desktop-only;
}

.header {
    @extend %unprintable;
    text-align: center;
    @media all and (max-width: $width) {
        text-align: left;
    }
    .menu {
        list-style: none;
        padding-left: 0;
        li {
            display: inline;
            margin-right: .4 * $em;
            &:after {
                content: ' ';
            }
        }
    }
    .social {
        a {
            text-decoration: none;
        }
    }
    .face {
        position: relative;
        .photo {
            border-radius: 50%;
        }
    }
}

%main-font {
    font-family: $main-font;
}

body {
    @extend %main-font;
    background-color: $white;
    color: $black;
    font-size: $em;
    font-weight: 400;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 2 * $em;
    padding-top: 2 * $em;
    position: relative;
}

a,
a:visited {
    color: inherit;
    text-decoration: underline;
}

%gray {
    color: $gray;
    a,
    a:visited {
        color: inherit;
    }
}

.gray {
    @extend %gray;
}

%small {
    font-size: .85 * $em;
}

.footer {
    @extend %small;
    @extend %gray;
    margin-top: 4 * $em;
    text-align: center;
}

.front {
    margin-bottom: 4 * $em;
    margin-top: 2 * $em;
}

.subline {
    @extend %gray;
    @extend %small;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    li {
        display: inline;
        margin-right: .5 * $em;
        white-space: nowrap;
    }
}

%clear {
    clear: both;
}

h1 {
    @extend %clear;
    font-size: 2 * $em;
    font-weight: bold;
    line-height: 2 * $em;
    margin-bottom: .5 * $em;
    a {
        text-decoration: none;
    }
}

.pagination {
    @extend %unprintable;
    text-align: center;
    margin: auto;
    width: 75%;
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .mute {
        @extend %gray;
        visibility: hidden;
    }
    a {
        text-decoration: none;
    }
}

.tagged {
    margin: $em 0;
}

.image-right {
    float: right;
    min-width: 300px;
    margin-left: 1em;
    margin-bottom: 1em;
}

amp-iframe[id=resume] {
    margin-top: 25px;
}
