<div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.url }}/images/juliano-boesel-mohr-192x192.png" />
    <meta itemprop="height" content="192" />
    <meta itemprop="width" content="192" />
</div>
<div itemscope="" itemprop="author" itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Juliano Boesel Mohr" />
</div>
<div itemscope="" itemprop="publisher" itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="juliaaano.com" />
    <div itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ site.url }}/images/juliano-boesel-mohr-192x192.png" />
        <meta itemprop="height" content="192" />
        <meta itemprop="width" content="192" />
    </div>
</div>
