<ul class="social notranslate">
    <li><a href="https://red.ht/juliano" title="I work at Red Hat">
            <i class="fab fa-redhat notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/intent/follow?screen_name=juliaaano" rel="nofollow" title="Follow me on Twitter">
            <i class="fab fa-twitter notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/juliaaano" rel="nofollow" title="My LinkedIn Profile">
            <i class="fab fa-linkedin-in notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/juliaaano" rel="nofollow" title="My GitHub Profile">
            <i class="fab fa-github notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/julianomohr/" rel="nofollow" title="Follow me on Instagram">
            <i class="fab fa-instagram notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/2846785/juliaaano" rel="nofollow" title="My Stackoverflow Profile">
            <i class="fab fa-stack-overflow notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://keybase.io/juliaaano" rel="nofollow" title="Keybase">
            <i class="fab fa-keybase notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="mailto:juliaaano@gmail.com" rel="nofollow" title="juliaaano@gmail.com">
            <i class="far fa-envelope notranslate" aria-hidden="true"></i>
        </a>
    </li>
    <li><a href="/feed.xml" title="RSS Feed">
            <i class="fas fa-rss notranslate" aria-hidden="true"></i>
        </a>
    </li>
</ul>
