<ul class="menu social notranslate">
    <li>
        <a href="https://twitter.com/intent/follow?screen_name=juliaaano" rel="nofollow" title="Follow me in Twitter">
            <i class="fa fa-twitter notranslate"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/juliaaano" rel="nofollow" title="My LinkedIn Profile">
            <i class="fa fa-linkedin notranslate"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/juliaaano" rel="nofollow" title="My GitHub Profile">
            <i class="fa fa-github notranslate"></i>
        </a>
    </li>
    <li>
        <a href="http://stackoverflow.com/users/2846785/juliaaano" rel="nofollow" title="My Stackoverflow Profile">
            <i class="fa fa-stack-overflow notranslate"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/julianomohr/" rel="nofollow" title="Follow me on Instagram">
            <i class="fa fa-instagram notranslate"></i>
        </a>
    </li>
    <li>
        <a href="mailto:juliaaano@gmail.com" rel="nofollow" title="juliaaano@gmail.com">
            <i class="fa fa-envelope-o notranslate"></i>
        </a>
    </li>
    <li><a href="/feed.xml" title="RSS Feed"><i class="fa fa-rss notranslate"></i></a></li>
</ul>
