@import 'defs';

.icon:before {
  font-size: $em;
  line-height: 1.2 * $em;
}

.icon-twitter:hover { color: #00aced; }
.icon-stackoverflow:hover { color: #f48024; }
.icon-github:hover { color: #800080; }
.icon-linkedin:hover { color: #007bb6; }
.icon-instagram:hover { color: #fd1d1d; }
.icon-rss:hover { color: #f60; }
