$ssp-font-path: "#{$font-path}/fonts/source-serif-pro" !default;

// @font-face{
//     font-family: 'Source Serif Pro';
//     font-weight: 200;
//     font-style: normal;
//     font-stretch: normal;
//     src: url('#{$ssp-font-path}/EOT/SourceSerifPro-ExtraLight.eot') format('embedded-opentype'),
//          url('#{$ssp-font-path}/WOFF/OTF/SourceSerifPro-ExtraLight.otf.woff') format('woff'),
//          url('#{$ssp-font-path}/WOFF2/OTF/SourceSerifPro-ExtraLight.otf.woff2') format('woff2'),
//          url('#{$ssp-font-path}/OTF/SourceSerifPro-ExtraLight.otf') format('opentype'),
//          url('#{$ssp-font-path}/TTF/SourceSerifPro-ExtraLight.ttf') format('truetype');
// }

// @font-face{
//     font-family: 'Source Serif Pro';
//     font-weight: 300;
//     font-style: normal;
//     font-stretch: normal;
//     src: url('#{$ssp-font-path}/EOT/SourceSerifPro-Light.eot') format('embedded-opentype'),
//          url('#{$ssp-font-path}/WOFF/OTF/SourceSerifPro-Light.otf.woff') format('woff'),
//          url('#{$ssp-font-path}/WOFF2/OTF/SourceSerifPro-Light.otf.woff2') format('woff2'),
//          url('#{$ssp-font-path}/OTF/SourceSerifPro-Light.otf') format('opentype'),
//          url('#{$ssp-font-path}/TTF/SourceSerifPro-Light.ttf') format('truetype');
// }

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$ssp-font-path}/EOT/SourceSerifPro-Regular.eot') format('embedded-opentype'),
         url('#{$ssp-font-path}/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
         url('#{$ssp-font-path}/WOFF2/OTF/SourceSerifPro-Regular.otf.woff2') format('woff2'),
         url('#{$ssp-font-path}/OTF/SourceSerifPro-Regular.otf') format('opentype'),
         url('#{$ssp-font-path}/TTF/SourceSerifPro-Regular.ttf') format('truetype');
}

// @font-face{
//     font-family: 'Source Serif Pro';
//     font-weight: 600;
//     font-style: normal;
//     font-stretch: normal;
//     src: url('#{$ssp-font-path}/EOT/SourceSerifPro-Semibold.eot') format('embedded-opentype'),
//          url('#{$ssp-font-path}/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'),
//          url('#{$ssp-font-path}/WOFF2/OTF/SourceSerifPro-Semibold.otf.woff2') format('woff2'),
//          url('#{$ssp-font-path}/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
//          url('#{$ssp-font-path}/TTF/SourceSerifPro-Semibold.ttf') format('truetype');
// }

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$ssp-font-path}/EOT/SourceSerifPro-Bold.eot') format('embedded-opentype'),
         url('#{$ssp-font-path}/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
         url('#{$ssp-font-path}/WOFF2/OTF/SourceSerifPro-Bold.otf.woff2') format('woff2'),
         url('#{$ssp-font-path}/OTF/SourceSerifPro-Bold.otf') format('opentype'),
         url('#{$ssp-font-path}/TTF/SourceSerifPro-Bold.ttf') format('truetype');
}

// @font-face{
//     font-family: 'Source Serif Pro';
//     font-weight: 900;
//     font-style: normal;
//     font-stretch: normal;
//     src: url('#{$ssp-font-path}/EOT/SourceSerifPro-Black.eot') format('embedded-opentype'),
//          url('#{$ssp-font-path}/WOFF/OTF/SourceSerifPro-Black.otf.woff') format('woff'),
//          url('#{$ssp-font-path}/WOFF2/OTF/SourceSerifPro-Black.otf.woff2') format('woff2'),
//          url('#{$ssp-font-path}/OTF/SourceSerifPro-Black.otf') format('opentype'),
//          url('#{$ssp-font-path}/TTF/SourceSerifPro-Black.ttf') format('truetype');
// }
