$main-font: 'PT Serif', 'Georgia', 'Times', serif;
$code-font: 'Source Code Pro', monospace;

$white: #fff;
$black: #111;
$gray: lighten($black, 50);
$med-gray: lighten($black, 40);
$dark-gray: lighten($black, 25);
$green: #81b341;

$width: 700px;
$em: 18px;
