$font-path: "{{ site.cdn.https }}" !default;

@import 'pt-serif';
@import 'source-code-pro';
@import 'font-awesome/fontawesome';
@import 'font-awesome/solid';
@import 'font-awesome/regular';
@import 'font-awesome/brands';
@import 'font-awesome/fontawesome-ext';
@import 'variables';
@import 'commons';
@import 'header';
@import 'footer';

// Other defaults / override html elements (css classes building blocks are imported above).
body {
    font-family: $main-font;
    background-color: $white;
    color: $black;
    font-size: $em;
    font-weight: 400;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

h1 {
    clear: both;
    font-size: 2 * $em;
    font-weight: bold;
    line-height: 2 * $em;
    margin-bottom: 0;
    margin-top: 0;
    a {
        text-decoration: none;
    }
}

a,
a:visited {
    color: inherit;
    text-decoration: underline;
}
