@use 'variables' as vars;
@use 'commons';

.buttons {
    @include commons.unprintable;
    .share {
        a,
        a:visited {
            text-decoration: none;
        }
        a {
            position: relative;
            .fab {
                $size: 1.2;
                border: 1px solid vars.$gray;
                border-radius: 50%;
                color: vars.$gray;
                display: inline-block;
                height: $size * vars.$em;
                line-height: $size * vars.$em;
                margin-bottom: .2 * vars.$em;
                margin-right: .2 * vars.$em;
                padding: .4 * $size * vars.$em;
                text-align: center;
                vertical-align: middle;
                width: $size * vars.$em;
                &:hover {
                    background-color: vars.$gray;
                    color: vars.$white;
                }
            }
        }
    }
}
