@use 'variables' as vars;

code,
pre {
    font-family: vars.$code-font;
    font-size: 90%;
    line-height: 1.20 * vars.$em;
    padding: 0;
    margin: 0;
    overflow: auto;
    @media all and (max-width: vars.$width) {
        font-size: 85%;
        line-height: vars.$em;
        letter-spacing: -1px;
    }
}

.highlight {
    background-color: vars.$light-gray;
    padding: calc(vars.$em / 2);
    margin-inline-start: vars.$em;
    margin-inline-end: vars.$em;
}

.highlight .c, .cm, .c1 { color: vars.$gray; font-style: italic } /* Comment,  Comment.Multiline, Comment.Single */
.highlight .o, .k, .kc, .kd, .kn, .kp, .kr, .kt { color: #000000; font-weight: bold } /* Operator, Keyword, Keyword.Constant, Keyword.Declaration, Keyword.Namespace, Keyword.Pseudo, Keyword.Reserved, Keyword.Type */
.highlight .s, .mf, .mi { color: vars.$med-gray } /* Literal.String, Literal.Number.Float, Literal.Number.Integer */
.highlight .nd { color: vars.$dark-gray; font-weight: bold } /* Name.Decorator (@Annotation) */
.highlight .s { color: #183691 } /* Literal.String */

.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
