@use 'variables' as vars;

@mixin unprintable {
    @media print {
        display: none;
        visibility: hidden;
    }
}

.unprintable {
    @include unprintable;
}

@mixin desktop-only {
    @media all and (max-width: vars.$width) {
        display: none;
    }
}

.desktop-only {
    @include desktop-only;
}

@mixin gray {
    color: vars.$gray;
    a,
    a:visited {
        color: inherit;
    }
}

.gray {
    @include gray;
}

@mixin wrapper {
    box-sizing: border-box;
    line-height: 1.4 * vars.$em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2 * vars.$em;
    margin-bottom: 2 * vars.$em;
    padding-left: 2 * vars.$em;
    padding-right: 2 * vars.$em;
    width: vars.$width;
    @media all and (max-width: vars.$width) {
        margin-top: 1 * vars.$em;
        padding-left: vars.$em;
        padding-right: vars.$em;
        width: 100%;
    }
}

.wrapper {
    @include wrapper;
}
