@use 'variables' as vars;
@use 'commons';

.disqus {
    @include commons.unprintable;
    @include commons.wrapper;
    width: 80%;
    @media all and (max-width: vars.$width * 1.3) {
        width: 100%;
    }
}
