@use 'variables' as vars;
@use 'sass:color';

.headline {
    font-family: vars.$code-font;
    font-size: 85%;
    line-height: vars.$em;
    text-align: left;
    ul {
        list-style: none;
        padding-left: 0;
        li {
            border-left: 4px solid vars.$green;
            color: color.adjust(vars.$green, $lightness: -25%);
            // margin-bottom: vars.$em; // in case there are multiple headlines
            padding-left: vars.$em;
        }
    }
}
