.headline {
    font-family: $code-font;
    font-size: 85%;
    line-height: $em;
    text-align: left;
    ul {
        list-style: none;
        padding-left: 0;
        li {
            border-left: 4px solid $green;
            color: darken($green, 25);
            // margin-bottom: $em; // in case there are multiple headlines
            padding-left: $em;
        }
    }
}
