.image-right {
    float: right;
    min-width: 300px;
    margin-left: 1em;
    margin-bottom: 1em;
}

iframe[id="resume"] {
    margin-top: 25px;
}

img[alt="404"] {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
