@use 'variables' as vars;
@use 'commons';

.pagination {
    @include commons.unprintable;
    text-align: center;
    margin: auto;
    width: 75%;
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .mute {
        @include commons.gray;
        visibility: hidden;
    }
    a {
        text-decoration: none;
    }
}
