$scp-font-path: "" !default;

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$scp-font-path}/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('#{$scp-font-path}/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('#{$scp-font-path}/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('#{$scp-font-path}/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('#{$scp-font-path}/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$scp-font-path}/EOT/SourceCodePro-Semibold.eot') format('embedded-opentype'),
         url('#{$scp-font-path}/WOFF2/TTF/SourceCodePro-Semibold.ttf.woff2') format('woff2'),
         url('#{$scp-font-path}/WOFF/OTF/SourceCodePro-Semibold.otf.woff') format('woff'),
         url('#{$scp-font-path}/OTF/SourceCodePro-Semibold.otf') format('opentype'),
         url('#{$scp-font-path}/TTF/SourceCodePro-Semibold.ttf') format('truetype');
}
