@use 'variables' as vars;
@use 'commons';

.subline {
    @include commons.gray;
    font-size: .85 * vars.$em;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    li {
        display: inline;
        margin-right: .5 * vars.$em;
        white-space: nowrap;
    }
}
