@use 'sass:color';

$main-font: 'PT Serif', 'Georgia', 'Times', serif;
$code-font: 'Source Code Pro', monospace;

$white: #fff;
$black: #111;
$gray: color.adjust($black, $lightness: 50%);
$dark-gray: color.adjust($black, $lightness: 25%);
$med-gray: color.adjust($black, $lightness: 40%);
$light-gray: color.adjust($black, $lightness: 90%);
$green: #81b341;

$width: 750px;
$em: 18px;
