<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.cdn.https }}/images/jay-profile-bw.jpg" />
    <meta itemprop="height" content="192" />
    <meta itemprop="width" content="192" />
</div>
<div itemscope itemprop="author" itemtype="https://schema.org/Person">
    <meta itemprop="name" content="Juliano Mohr" />
</div>
<div itemscope itemprop="publisher" itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="juliaaano.com" />
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ site.cdn.https }}/images/jay-profile-bw.jpg" />
        <meta itemprop="height" content="192" />
        <meta itemprop="width" content="192" />
    </div>
</div>
