<ul class="social list-none p-0 flex flex-wrap gap-2 justify-center">
    <li>
        <a href="https://red.ht/juliano" title="I work at Red Hat" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/shadowman.html %}
        </a>
    </li>
    <li>
        <a href="https://twitter.com/intent/follow?screen_name=juliaaano" rel="nofollow" title="Follow me on Twitter" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/twitter.html %}
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/juliaaano" rel="nofollow" title="My LinkedIn Profile" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/linkedin.html %}
        </a>
    </li>
    <li>
        <a href="https://github.com/juliaaano" rel="nofollow" title="My GitHub Profile" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/github.html %}
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/juliaaanobm/" rel="nofollow" title="Follow me on Instagram" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/instagram.html %}
        </a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/2846785/juliaaano" rel="nofollow" title="My Stackoverflow Profile" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/stackoverflow.html %}
        </a>
    </li>
    <li>
        <a href="https://keybase.io/juliaaano" rel="nofollow" title="Keybase" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/keybase.html %}
        </a>
    </li>
    <li>
        <a href="mailto:mzxs7veg@duck.com" rel="nofollow" title="mzxs7veg@duck.com" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/envelope.html %}
        </a>
    </li>
    <li>
        <a href="/feed.xml" title="RSS Feed" class="no-underline text-brand-gray hover:text-brand-black">
            {% include icons/rss.html %}
        </a>
    </li>
</ul>
