<!DOCTYPE html>
<html>

<head>
    {% feed_meta %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% seo %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
    <footer>
        <ul>
            <li><a href="mailto:juliaaano@gmail.com">email</a></li>
            <li><a href="https://github.com/juliaaano">github.com/juliaaano</a></li>
        </ul>
    </footer>
    {% include disqus-count.html %}
    {% include google-analytics.html %}
</body>

</html>
