@import 'buttons';
@import 'subline';
@import 'disqus';
@import 'code-syntax';

.image-right {
    float: right;
    min-width: 300px;
    margin-left: 1em;
    margin-bottom: 1em;
}

.image-center {
    float: none;
    max-width: 450px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.image-center-caption {
    text-align: center;
    display: block;
    font-size: small;
}