---
layout: default
title: "Home"
description: |
  Juliano Mohr ramblings about software engineering, design,
  philosophy and stuff.
---

<div class="wrapper headline">
    <ul>
        <li>
            Welcome to my website! My name is <strong>Juliano</strong> and I'm here to present my ramblings on the discipline I love - <strong>software engineering</strong>. These writings come from years in the field of software development. I'm happy to hear your opinion; let's <strong><a href="mailto:mzxs7veg@duck.com" rel="nofollow" title="mzxs7veg@duck.com">get in touch</a></strong>.
        </li>
    </ul>
</div>

<div itemscope itemtype="https://schema.org/Blog">
{% for post in paginator.posts %}
    <section class="wrapper" itemprop="blogPosts" itemscope itemtype="https://schema.org/BlogPosting">
        <header>
            <h1>
                <a href="{{ post.url }}">
                    <span itemprop="name headline mainEntityOfPage">{{ post.title }}</span>
                </a>
            </h1>
            <ul class="subline">
                <li>
                    <time itemprop="datePublished dateModified" datetime="{{ post.date | date_to_xmlschema }}">
                        {{ post.date | date_to_long_string }}
                    </time>
                </li>
                <li itemprop="wordCount">
                    {{ post.content | number_of_words }} words
                </li>
                <li>
                    {% include reading-time.html %}
                </li>
                <li>
                    <span class="inline-flex items-center gap-1">
                        {% include icons/comment.html %}
                        <a href="{{ site.url }}{{ post.url }}#disqus_thread" itemprop="discussionUrl">comments</a>
                    </span>
                </li>
            </ul>
        </header>

        <div itemprop="description" class="mt-4">
            {{ post.excerpt }}
        </div>
        <p>
            <a href="{{ post.url }}" itemprop="url">continue...</a>
        </p>

    </section>
{% endfor %}
</div>

<div class="wrapper pagination unprintable">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="float-left inline-flex items-center gap-1">Older {% include icons/chevron-left.html %}</a>
    {% else %}
        <span class="mute float-left inline-flex items-center gap-1">Older {% include icons/chevron-left.html %}</span>
    {% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="float-right inline-flex items-center gap-1">{% include icons/chevron-right.html %} Newer</a>
    {% else %}
        <span class="mute float-right inline-flex items-center gap-1">{% include icons/chevron-right.html %} Newer</span>
    {% endif %}
</div>
