name: ci-cd

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths-ignore:
      - "README.md"

permissions:
  pages: write
  id-token: write
  packages: write

concurrency:
  group: ci-cd
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: set datetime
        run: |
          echo "datetime=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV
      - name: qemu dependency
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static
      - name: build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ github.repository }}
          tags: latest ${{ github.sha }}
          platforms: linux/amd64, linux/arm64
          containerfiles: |
            ./Containerfile
          build-args: |
            CREATED_AT=${{ env.datetime }}
            GITHUB_SHA=${{ github.sha }}
      - name: push image to ghcr.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    if: github.ref == 'refs/heads/master'
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: extract generated site
        run: docker run --rm ghcr.io/${{ github.repository }}:$GITHUB_SHA tar -c -C /usr/share/nginx html | tar -x
      - name: html proofer
        uses: chabad360/htmlproofer@v2
        with:
          directory: "./html"
          arguments: "--assume-extension --ignore-status-codes '999' --ignore-urls 'https://jekyllrb.com', 'https://www.websiteplanet.com/webtools/favicon-generator'"
      - name: upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: html
      - name: deploy github pages
        id: deployment
        uses: actions/deploy-pages@v4
